.contact {
    padding-bottom: 50px;
    background: map-get($main-color-map, 4000);

    .contact-header {
        @include section-header();
        //background: map-get($main-color-map, 4000);
        margin-bottom: 50px;
    }

}
