.footer {
    position: relative;
    padding: 3em 0;
    background: map-get($main-color-map, 1000);
    color: #fff;
    font-size: 16px;

    text-align: center;

    @media(#{$bp-larger-than-phablet}) {
        text-align: left;
    }
    
    p {
        margin: 0;
        color: map-get($main-color-map, 3000);
    }

    .links {
        margin-top: 18px;
        @media (#{$bp-larger-than-phablet}) {
            margin-top: 0;
            float: right;
        }
        a {
            color: map-get($main-color-map, 5000);
            padding: 10px 10px;
            font-size: 18px;
        }
    }
}
