.my-work {
    position: relative;
    box-sizing: border-box;

    div {
        box-sizing: border-box;
    }

    .my-work-header {
        @include section-header();
    }

    .work-item {
        width: 100%;
        max-width: 100%;
        padding-bottom: 100px;
        position: relative;
        border-bottom: 1px solid map-get($main-color-map, 3000);
        margin-bottom: 100px;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }

        .work-image {
            width: 100%;
            display: inline-block;
            float: left;
            padding: 0 50px;
            text-align: center;
            margin-bottom: 30px;

            @media (#{$bp-larger-than-tablet}) {
                width: 49%;
                margin-bottom: 0;
            }

            img {
                max-width: 100%;
                box-shadow: 1px 1px 2px 2px rgba(0,0,0,.15);
                border-radius: 2px;
            }

            .large-image {
                max-height: 400px;
            }

            .no-box-shadow {
                box-shadow: none;
                border-radius: 0;
            }
        }

        .work-description {
            width: 100%;
            display: inline-block;
            float: left;
            padding: 0 50px;

            @media (#{$bp-larger-than-tablet}) {
                width: 51%;
            }

            h5 {
                font-size: 24px;
                margin-bottom: 2px;
            }

            h6 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 300;
            }

            a {
                color: map-get($main-color-map, 1000);

                &:hover {
                    color: map-get($main-color-map, 4000);
                }
            }
        }

        .u-pull-right {
            float: left;

            @media (#{$bp-larger-than-tablet}) {
                float: right;
            }
        }

        .u-pull-left {
            float: left;
        }
    }
}
