.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: bold;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.tags {
    width: 100%;
    padding: 1.5em 0;

}

.tag {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    background: map-get($main-color-map, 6000);
    color: map-get($main-color-map, 1000);
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-family: "Raleway";
    font-weight: 300;
    text-transform: lowercase;

    &:last-child {
        margin-right: 0;
    }
}

.clearfix {
    *zoom: 1;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.gray-color-link {
    color: darken(map-get($main-color-map, 3000), 10%);
}